html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  background-color: #becfd9;
}
header {
  margin: 0;
  text-align: center;


}
header h1 {
  display: inline-block;
  font-size: 1em;
}
header div {
  font-family: 'Cinzel', serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #a8babe;
}
.button {
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  margin: 2%;
  margin-right: 3%;
  margin-top: 12px;
  float: right;
  font-size: 0.7em;
  text-decoration: none;
  color: #fff;
  background-color: #717371;
  border-radius: 5px;
  padding: 5px;
}
.logo {
  float: left;
  width: 45px;
  margin-top: 10px;
  margin-left: 15px;
}
header nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
header nav li {
  display: inline;
  width: 25%;
  float: left;
  padding: 12px;
  font-size: 0.8em;
  background-color: #717371;
}
nav li a {
  text-decoration: none;
  color: #fff;
}
.panorama {
  width: 100%;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}
figcaption {
  position: absolute;
  text-align: center;
  color: #fff;
  bottom: 5px;
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
figcaption p {
  font-style: italic;
  font-size: 0.7em;
}
h2 {
  font-family: 'Cinzel', serif;
}
h3 {
  font-family: 'Cinzel', serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: left;
}
img {
  width: 100%;
  padding: 25px 15px;
}

dl div {
  float: left;
  width: 32%;
  font-size: 0.8em;
  padding: 10px 5px;
  text-align: left;
}
.learn {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #717371;
  border-radius: 15px;
  color: #fff;
  font-size: 0.8em;
}
dl {
  display: inline-block;
}
dd {
  margin: 0;
}
.info {
  width: 100%;

}
