html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  text-align: center;
  background-color: #eaf1f5;
}
header {
  margin: 0;
  text-align: center;


}
header h1 {
  display: inline-block;
  font-size: 1em;
}
header div {
  font-family: 'Cinzel', serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #a8babe;
}
.button {
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  margin: 2%;
  margin-right: 3%;
  margin-top: 12px;
  float: right;
  font-size: 0.7em;
  text-decoration: none;
  color: #fff;
  background-color: #717371;
  border-radius: 5px;
  padding: 5px;
}
.logo {
  float: left;
  width: 45px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
header nav li {
  display: inline;
  width: 25%;
  float: left;
  padding: 12px;
  font-size: 0.8em;
  background-color: #717371;
}
nav li a {
  text-decoration: none;
  color: #fff;
}
.panorama {
  width: 100%;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
  position: relative;
}
figcaption {
  position: absolute;
  text-align: center;
  color: #fff;
  bottom: 5px;
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
figcaption p {
  font-style: italic;
  font-size: 0.7em;
}
.seven {
  background-color: #8b6969;
  color: #fff;
  margin: -7px 0 0 0;
  padding: 1em 0;
}
h2 {
  font-family: 'Cinzel', serif;
  font-size: 1em;
  margin: 10px 0 0 0;
}
h2#weekly {
  margin: -5px 0 0 0;
}
h3 {
  font-family: 'Cinzel', serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: left;
  font-size: 1em;
}
img {
  width: 100%;
  padding: 25px 15px;
}

dl div {
  float: left;
  width: 32%;
  font-size: 0.8em;
  padding: 10px 5px;
  text-align: left;
}
.learn {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #717371;
  border-radius: 15px;
  color: #fff;
  font-size: 0.8em;
}
dl {
  display: inline-block;
}
dd {
  margin: 0;
}
.info {
  width: 100%;
  padding: 0 0 0 13px;

}
.buy {
  padding: 5px;
}
.buy p{

}
.prices a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #717371;
  color: #fff;
}
.playing {
  background-color: #8b6969;
  color: #fff;
  margin: 15px 0 0 0;
  padding: 1em 0;
}
.atlantis {
  padding: 0;
  position: relative;
}
.caption {
  position: absolute;
  bottom: 20px;
  text-shadow: 2px 2px 2px #000;
}
.times {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #717371;
  color: #fff;
}
.weekly h2 {
  font-size: 1.3em;
  background-color: #886261;
  color: #fff;
  padding: 20px;
  margin: 0;
}
.days {
  list-style-type: none;
  text-align: left;
  padding: 20px 0 20px 0;
  background-color: #4f4a4a;
  margin: 0;
  color: #fff;
}

.days ul {
  list-style-type: none;
}
.days li {
  padding: 0 0 10px 0;
}
footer {
  background-color: #a8babe;
  color: #4f4a4a;
}
aside {
  padding: 15px 0 0 10px;
  text-align: left;
}
footer ul {
  list-style-type: none;
  text-align: left;
  padding: 0 10px 10px 10px;
}
footer p {
  text-align: left;
  padding: 0 0 0 10px;
}
footer a {
  text-decoration: none;
  color: #4f4a4a;
}
@media only screen and (min-width: 36em) {
  header h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }

  .button {
    margin-top: 25px;
  }
  .logo {
    margin-top: 20px;
  }
  .giza {
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 2em;
  }
  .babylon {
    width: 50%;
    float: left;
    padding-bottom: 2em;
    background-color: #a8babe;
  }
  .babylon img {
    padding-bottom: 2.1em;
  }
  .temple {
    width: 50%;
    float: left;
    padding-bottom: 2em;
  }
  .zeus {
    width: 50%;
    float: left;
    padding-bottom: 1em;
  }
  .mauso {
    width: 50%;
    float: left;
    padding-bottom: 3em;
    background-color: #a8babe;
  }
  .mauso img {
    padding-bottom: 2.5em;
  }
  .rhodes {
    width: 50%;
    float: left;
    padding-bottom: 2em;
    background-color: #a8babe;
  }
  .light {
    width: 50%;
    float: left;
    padding-bottom: 4em;

  }
  .buy {
    width: 50%;
    float: left;
    padding-bottom: 1em;
  }
  .member {
    width: 50%;
    float: left;
    padding-bottom: 1em;
  }
  .playing {
    display: block;
    clear: both;
  }
  .member p {
    padding-bottom: 1.5em;
  }
  div p {
    padding: 0 1em;
  }
  .days h3 {
    text-align: center;
  }
  .days {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  aside {
    padding: 15px 0 0 10px;
    text-align: center;
  }
  footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0 10px 10px 10px;
  }
  footer p {
    text-align: center;
    padding: 0 0 0 10px;
  }
}
@media only screen and (min-width: 56em) {
  .giza {
    width: 33%;
    display: block;
    margin-left: 33%;
    margin-right: 33%;
    padding-bottom: 2em;
  }
  .babylon {
    width: 33%;
    float: left;
    padding-bottom: 2em;
    background-color: #eaf1f5;
  }
  .babylon img {
    padding-bottom: 2.1em;
  }
  .temple {
    width: 33%;
    float: left;
    padding-bottom: 2em;
  }
  .zeus {
    width: 33%;
    float: left;
    padding-bottom: 2em;
  }
  .zeus img {
    padding-top: 0;
  }
  .mauso {
    width: 33%;
    float: left;
    padding-bottom: 3em;
    background-color: #eaf1f5;
  }
  .mauso img {
    padding-bottom: 1.5em;
  }
  .rhodes {
    width: 33%;
    float: left;
    padding-bottom: 2em;
    background-color: #eaf1f5;
  }
  .light {
    width: 33%;
    float: left;
    padding-bottom: 4em;

  }
}
